:root {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  --normal: #aa9;
  --fire: #f42;
  --water: #39f;
  --electric: #fc3;
  --grass: #7c5;
  --ice: #6cf;
  --fighting: #b54;
  --poison: #a59;
  --ground: #db5;
  --flying: #89f;
  --psychic: #f59;
  --bug: #ab2;
  --rock: #ba6;
  --ghost: #66b;
  --dragon: #76e;
  --dark: #754;
  --steel: #aab;
  --fairy: #e9e;
}

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  min-width: 300px;
}

.nav-bar {
  background-color: #222;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

nav {
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
}

nav.hidden {
  display: none;
  visibility: hidden;
}

#menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  background-color: #fff;
  width: 30px;
  height: 2px;
  margin-bottom: 5px;
  cursor: pointer;
}

.brand {
  margin: auto;
  color: #fff;
  font-weight: 700;
  font-family: 'Trebuchet MS', sans-serif;
}

.container {
  width: 95%;
  margin: 1.25em auto;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1em;
  row-gap: 1em;
  transition: ease-in-out 350ms;
}

@media screen and (min-width: 50em) {
  .container {
    grid-template-columns: auto auto auto;
  }
}


@media screen and (min-width: 65em) {
  .container {
    grid-template-columns: auto auto auto auto;
  }
}

.item {
  background-color: #ececec;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5em 0;
  cursor: pointer;
  transition: all 350ms;
}

.item:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

.item img {
  width: 65%;
  height: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 1.25em;
  border: 1px solid #888;
  border-radius: 3px;
  width: 18.75em;
  height: 20em;
  transition: ease-in-out 350ms;
}

@media screen and (min-width: 50em) {
  .modal-content {
    width: 31.25em;
  }
}

@media screen and (min-width: 65em) {
  .modal-content {
    width: 40em;
  }
}

.modal-content-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.modal-content-header .close {
  cursor: pointer;
  font-size: 1.25em;
  color: #333;
}

.modal-content-info {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, .4);
}

.pokemon-sprites {
  width: 120px;
  height: 120px;
  margin-right: 1em;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 2px;
}

.pokemon-name {
  font-weight: 600;
  font-size: 1.25em;
}

.pokemon-type {
  margin-top: 1em;
}

.type {
  padding: .3em .5em;
  background-color: #eee;
  color: #fff;
}

.type-1 {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.type-2 {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.normal-type {
  background-color: var(--normal);
}

.fire-type {
  background-color: var(--fire);
}

.water-type {
  background-color: var(--water);
}

.electric-type {
  background-color: var(--electric);
}

.grass-type {
  background-color: var(--grass);
}

.ice-type {
  background-color: var(--ice);
}

.fighting-type {
  background-color: var(--fighting);
}

.poison-type {
  background-color: var(--poison);
}

.ground-type {
  background-color: var(--ground);
}

.flying-type {
  background-color: var(--flying);
}

.psychic-type {
  background-color: var(--psychic);
}

.bug-type {
  background-color: var(--bug);
}

.rock-type {
  background-color: var(--rock);
}

.ghost-type {
  background-color: var(--ghost);
}

.dragon-type {
  background-color: var(--dragon);
}

.dark-type {
  background-color: var(--dark);
}

.steel-type {
  background-color: var(--steel);
}

.fairy-type {
  background-color: var(--fairy);
}

.pokemon-attributes {
  line-height: 2px;
  display: flex;
  flex-direction: column;
}

.attr-value {
  display: flex;
  justify-content: space-between;
}

.left-group,
.right-group {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.attr-group {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}